<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<!-- 需要登陆 -->
	<error-page>
		<error-code>401</error-code>
		<location>/err/e401.shtml</location>
	</error-page>
	<!-- 权限错误 -->
	<error-page>
		<error-code>403</error-code>
		<location>/err/e403.shtml</location>
	</error-page>
	<!-- 目标不存在 -->
	<error-page>
		<error-code>404</error-code>
		<location>/err/e404.shtml</location>
	</error-page>
	<!-- 服务器内部错误 -->
	<error-page>
		<error-code>500</error-code>
		<location>/err/e500.shtml</location>
	</error-page>

	<!-- 去掉jsp空行 -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>